
<!DOCTYPE html>
<!-- Coding By CodingNepal - youtube.com/codingnepal -->
<html lang="en" dir="ltr">
  <head>
<style>
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body{
  margin: 0;
  padding: 0;
  background: linear-gradient(120deg,#2980b9, #8e44ad);
  height: 100vh;
  overflow: hidden;
}
.center{
 
  color: rgb(248, 248, 244);
  
    position: absolute;
  top: 10%;
  left: 10%;
}

</style>

    <div class="center">
        
      <h1>  <a href="/sendmail" style="color: #fbfbf9"> Accident Detected!!</a></h1>
   
    </div>